
body{
    margin: 0;
    padding: 0;
}

.banner{
    position: relative;
    width: 100vw;
    height: 155px;
    /* overflow: hidden; */
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

